@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
/* @import url('https://fonts.googleapis.com/css?family=Shrikhand'); */
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');
/* @import url('https://fonts.googleapis.com/css?family=Economica|Neucha');  */
@import url('https://fonts.googleapis.com/css?family=Roboto');
/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%!important;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 12px;
  font-family: "Roboto"!important;
  color: #331d35;
}

a {
  color: #41307c;
  text-decoration: none;
  /*background-color: transparent!important;*/
}
 
html, body{
  min-height: 100%;
}
#myday_toolbar{
    position: relative;
    z-index: 12;
    background: transparent!important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}
.mypage_wrap{
    min-height: 100%;
    background: url(/img/bg01.jpg);
    background-size: cover; 
    padding: 1%;
}

.mypage_section,.mypage_main::before {
  background: url(/img/bg01.jpg) 0 / cover fixed;
}
.mypage_main {
  margin: 100px auto;
  position: relative;
  padding: 10px 5px;
  background: hsla(287, 100%, 50%, 0.10);
  font-size: 20px;
  line-height: 1;
  border-radius: 10px;
  width: 60%;
  box-shadow: 5px 3px 30px black;
  overflow: hidden;
  z-index: 0;
}

.mypage_main::before {
  content: '';
  margin: -35px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: blur(20px) brightness(40%);
  z-index: -1;
}
.mypage_main h1{
font-family: 'Fredericka the Great', cursive;
font-size: 4.2em;
font-weight: 100;
margin: 0;
color: rgb(204, 255, 220)
}
.mypage_main .slogan{
    font-size: 19px;
    font-family: 'Indie Flower', cursive!important;
    color: #82FFA9;
    text-shadow: 1px 1px 1px black;
    font-weight: 900;
    z-index: 15;
    padding: 1em;
}

#MyDay_header{
  position: relative;
  height: -o-calc(100vh - 50px); /* opera */
  height: -webkit-calc(100vh - 50px); /* google, safari */
  height: -moz-calc(100vh - 50px); /* firefox */
  font-family: 'Fredericka the Great', cursive;
  font-weight:100;
  -webkit-transition: all .8s linear;   
  -moz-transition: all .8s linear;   
  -ms-transition: all .8s linear;   
}
.my_day_background{
    background-image: "../images/001.jpg";
    min-height: 300px;
}
/* icons home page  */
.my_btn{
 border-radius:50%;
 background: radial-gradient(red,green);
 width:2rem;
 height:2rem;

}
.my_btn:hover{
  border-radius:50%;
  background: radial-gradient(blue,green)
   
 }
 .my_btn:active{
  border-radius:50%;
  background: radial-gradient(green,red,green)
   
 }
 
 /* end icons */
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: #ff0084; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left,rgba(156, 39, 176, 0.82) , rgba(105, 240, 174, 0.75)) ; /* Chrome 10-25, Safari 5.1-6 */
  background:linear-gradient(to left,rgba(156, 39, 176, 0.82) , rgba(105, 240, 174, 0.75)) ; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

md-virtual-repeat-container {
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
  border: solid 1px #ccc;
  padding: 10px;
}
.mypage_main input{
  color:rgba(255, 255, 255, 0.7)!important;
}
label {
   color:rgba(185,246,202, 0.7)!important;
   }
/*//divider*/
.dividerdemoBasicUsage .face {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 48px;
  margin: 16px; }

/*//fabovi na strani index*/
.fabSpeedDialdemoBasicUsage .text-capitalize {
  text-transform: capitalize; }
.fabSpeedDialdemoBasicUsage .md-fab:hover, .fabSpeedDialdemoBasicUsage .md-fab.md-focused {
  background-color: #000 !important; }
.fabSpeedDialdemoBasicUsage p.note {
  font-size: 1.2rem; }
.fabSpeedDialdemoBasicUsage .lock-size {
  min-width: 300px;
  min-height: 300px;
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto; }

/*//tabovi an stranic regiser*/
.myDay md-content {
  background-color: transparent !important; }
.myDay md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1; }
.myDay md-content md-tabs md-tabs-wrapper {
      background: white; }
.myDay md-content h1:first-child {
    margin-top: 0; }

/* ==========================================================================
Hero
========================================================================== */
.hero {
  min-height: 750px;
  background: url("../images/001.jpg") center center;
  background-size: cover;
  position: relative; }
  .hero .down-arrow a {
    color: #fff; }
  .hero h1 {
    color: #fff;
    margin-bottom: 40px; }
  .hero p.intro {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 80px; }
  .hero .hero-content {
    padding-top: 26%; }
    
.slogan{
    font-size: 40px;
    font-family: 'Indie Flower', cursive!important;
    color: #82FFA9;
    text-shadow: 1px 1px 1px black;
    font-weight: 900;
    z-index: 15; 
}
.nav_links{
    font-size: 1em;
    font-family: 'Indie Flower', cursive!important;
    color: #82FFA9;
    text-shadow: 1px 1px 1px black;
    font-weight: 900;
    display: inline-flex;
     z-index: 16;
}
.navigation {
  -webkit-transition: all 300ms ease-in-out;
          transition: all 300ms ease-in-out;
  position: fixed;
  width: 100%;
  z-index: 999; }

.fixed {
  position: fixed;
  background-color: #232731;
  z-index: 999;
  width: 100%; }

header {
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
  position: relative;
  width: 100%;
  margin: 0 auto;
  -webkit-transition: padding 300ms ease-in-out;
          transition: padding 300ms ease-in-out; }
  header a {
    color: #fff;
    text-transform: uppercase;
    font-size: 13px; }
    header a.login {
      margin-right: 20px; }
  header .logo {
    display: inline-block; }
  header ul.primary-nav {
    margin: 0 0 0 75px;
    padding: 0; }
    header ul.primary-nav li {
      display: inline; }
      header ul.primary-nav li a {
        color: #fff;
        padding-right: 25px; }
        header ul.primary-nav li a:hover {
          color: #FF5274; }
      header ul.primary-nav li:last-child a {
        padding-right: 0px; }
  header ul.member-actions li {
    display: inline; }
    header ul.member-actions li a {
      color: #fff; }
      header ul.member-actions li a:hover {
        color: #FF5274; }
  header .header-nav {
    display: inline-block; }
  header .member-actions {
    position: absolute;
    right: 0;
    top: 41px;
    -webkit-transition: all 300ms ease-in-out;
            transition: all 300ms ease-in-out; }

.down-arrow {
  color: #fff;
  font-size: 30px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }


/*flickit stil za galeriju*/

.gallery {
  background: black;
}

.gallery-cell {
  width: 70%;
  height: 200px;
  /* flex-box, center image in cell */
  display: -webkit-box;
  display: -webkit-flex;
  display:         flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
}

.gallery-cell img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  /* dim unselected */
  opacity: 0.7;
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s, transform 0.3s, -webkit-filter 0.3s, filter 0.3s;
          transition: opacity 0.3s, transform 0.3s, filter 0.3s;
}

/* brighten selected image */
.gallery-cell.is-selected img {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-filter: none;
          filter: none;
}

@media screen and ( min-width: 768px ) {
  .gallery-cell {
    height: 400px;
  }
}

@media screen and ( min-width: 960px ) {
  .gallery-cell {
    width: 60%;
  }
}

/* buttons, no circle */
.flickity-prev-next-button {
  width: 60px;
  height: 60px;
  background: transparent;
  opacity: 0.6;
}
.flickity-prev-next-button:hover {
  background: transparent;
  opacity: 1;
}
/* arrow color */
.flickity-prev-next-button .arrow {
  fill: white;
}
.flickity-prev-next-button.no-svg {
  color: white;
}
/* closer to edge */
.flickity-prev-next-button.previous { left: 0; }
.flickity-prev-next-button.next { right: 0; }
/* hide disabled button */
.flickity-prev-next-button:disabled {
  display: none;
}

/* ==========================================================================
MYD 
========================================================================== */


/* ==========================================================================
MYD TILES
========================================================================== */
.myd_card{
  margin: 0.5em;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.26);
  background-size:cover; 
  cursor: pointer;
}
.myd_card_gray{
  margin: 0.5em;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.26);
  background-size:cover; 
  background: #dfdfdf;
}

.company_name{
    font-family:'Roboto'!important;
    font-weight: 500;    
    color: rgba(255,255,255,0.8);
    padding-left:0.3em;
    font-size: 1.5em!important;
    cursor: pointer;
}
.myd_card_footer{
      background: rgba(142, 36, 170, 0.53);
      border-radius: 5px;
}

.myd_card:hover{
	opacity: 0.9;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}
.myd_card:active{
  -webkit-filter: saturate(30%);
  -moz-filter: saturate(30%);
   filter:saturate(30%);
}
/* ==========================================================================
MYD KARTICE
========================================================================== */
.card_caption{
font-size: 1em;
text-transform: uppercase;
/*background-color: purple;
border: 1px solid purple;
color:rgba(255, 255, 255, 0.22);*/
padding: 3px;
}
.card_txt{
font-size: 1em;
/*background-color: white;
border: 1px solid purple;
color:purple;*/
padding: 3px;
font-weight: bolder;
}

md-dialog.fullscreen-dialog {
    max-width: 60%;
    max-height: 60%;
    width: 60%;
    height:60%;
    border-radius: 10;
}

@media screen and ( max-width: 500px ) {
  md-dialog.fullscreen-dialog {
      max-width: 100%!important;
      max-height: 100%!important;
      width: 100%!important;
      height:100%!important;
  }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.myd-footer{
  background-image: -webkit-linear-gradient(purple, rgb(142,36,170));
  background-image: -moz-linear-gradient(purple, rgb(142,36,170));
  background-image: -o-linear-gradient(purple, rgb(142,36,170));
  background-image: linear-gradient(purple, rgb(142,36,170));
  font-size: 1.2em;
  font-family: roboto;
  line-height: 1.2em;
  font-weight: 500;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, #1de9b6, #ff04ff);
    -webkit-text-fill-color: transparent;
}



 //LAZY LOAD CLASES MY DAY// 
/* main styles */
/* *, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 100%;
  color: #444;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: scroll;
}

article {
  max-width: 40em;
  padding: 0 4em;
  margin: 0 auto;
}

h1, h2 {
  font-weight: normal;
  margin-top: 1em;
}

p, a {
  margin-top: 1em;
}

h2 + p {
  margin-top: 0;
}

ul, ol {
  margin: 1em 0 0 2em;
}

li {
  margin-top: 0.5em;
}

pre {
  white-space: pre;
  padding: 2px 6px;
  margin-top: 1em;
  background-color: #ddd;
  border-radius: 3px;
  overflow: auto;
}

code {
  font-size: 1.1em;
}

img {
  max-width: 100%;
}

a.primary {
  width: 100vw;
  left: 50%;
  margin-left: -50vw;
}

a.full {
  clear: both;
  width: 100%;
  box-shadow: 0 3px 4px #000;
}

a.boxout1, a.boxout2 {
  clear: both;
  float: left;
  width: 60%;
  margin: 1em 1em 0 -4em;
  box-shadow: 0 3px 4px #000;
}

a.boxout2 {
  float: right;
  margin: 1em -4em 0 1em;
}

/* progressive image CSS */
/* a.progressive {
  position: relative;
  display: block;
  overflow: hidden;
  outline: none;
}

a.progressive:not(.replace) {
  cursor: default;
}

a.progressive img {
  display: block;
  width: 100%;
  max-width: none;
  height: auto;
  border: 0 none;
}

a.progressive img.preview {
  filter: blur(2vw);
  transform: scale(1.05);
}

a.progressive img.reveal {
  position: absolute;
  left: 0;
  top: 0;
  will-change: transform, opacity;
  animation: reveal 1s ease-out;
}

@keyframes reveal {
	0% { transform: scale(1.05); opacity: 0; }
	100% { transform: scale(1); opacity: 1; }
} */ */
