@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url('https://fonts.googleapis.com/css?family=Shrikhand');

html, body{
  min-height: 100%;
}

#MyDay_header{
  position: relative;
}
.my_day_background{
    background-image: "../images/001.jpg";
    min-height: 300px;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
}

md-virtual-repeat-container {
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
  border: solid 1px #ccc;
  padding: 10px;
}


/*//divider*/
.dividerdemoBasicUsage .face {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 48px;
  margin: 16px; }

/*//fabovi na strani index*/
.fabSpeedDialdemoBasicUsage .text-capitalize {
  text-transform: capitalize; }
.fabSpeedDialdemoBasicUsage .md-fab:hover, .fabSpeedDialdemoBasicUsage .md-fab.md-focused {
  background-color: #000 !important; }
.fabSpeedDialdemoBasicUsage p.note {
  font-size: 1.2rem; }
.fabSpeedDialdemoBasicUsage .lock-size {
  min-width: 300px;
  min-height: 300px;
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto; }

/*//tabovi an stranic regiser*/
.myDay md-content {
  background-color: transparent !important; }
.myDay md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1; }
.myDay md-content md-tabs md-tabs-wrapper {
      background: white; }
.myDay md-content h1:first-child {
    margin-top: 0; }

/* ==========================================================================
Hero
========================================================================== */
.hero {
  min-height: 750px;
  background: url("../images/001.jpg") center center;
  background-size: cover;
  position: relative; }
  .hero .down-arrow a {
    color: #fff; }
  .hero h1 {
    color: #fff;
    margin-bottom: 40px; }
  .hero p.intro {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 80px; }
  .hero .hero-content {
    padding-top: 26%; }
.slogan{
    font-size: 40px;
    font-family: 'Indie Flower', cursive!important;
    color: #82FFA9;
    text-shadow: 1px 1px 1px black;
    font-weight: 900;
    
}
.nav_links{
    font-size: 1em;
    font-family: 'Indie Flower', cursive!important;
    color: #82FFA9;
    text-shadow: 1px 1px 1px black;
    font-weight: 900;
    display: inline-flex;
    
}
.navigation {
  -webkit-transition: all 300ms ease-in-out;
          transition: all 300ms ease-in-out;
  position: fixed;
  width: 100%;
  z-index: 999; }

.fixed {
  position: fixed;
  background-color: #232731;
  z-index: 999;
  width: 100%; }

header {
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
  position: relative;
  width: 100%;
  margin: 0 auto;
  -webkit-transition: padding 300ms ease-in-out;
          transition: padding 300ms ease-in-out; }
  header a {
    color: #fff;
    text-transform: uppercase;
    font-size: 13px; }
    header a.login {
      margin-right: 20px; }
  header .logo {
    display: inline-block; }
  header ul.primary-nav {
    margin: 0 0 0 75px;
    padding: 0; }
    header ul.primary-nav li {
      display: inline; }
      header ul.primary-nav li a {
        color: #fff;
        padding-right: 25px; }
        header ul.primary-nav li a:hover {
          color: #FF5274; }
      header ul.primary-nav li:last-child a {
        padding-right: 0px; }
  header ul.member-actions li {
    display: inline; }
    header ul.member-actions li a {
      color: #fff; }
      header ul.member-actions li a:hover {
        color: #FF5274; }
  header .header-nav {
    display: inline-block; }
  header .member-actions {
    position: absolute;
    right: 0;
    top: 41px;
    -webkit-transition: all 300ms ease-in-out;
            transition: all 300ms ease-in-out; }

.down-arrow {
  color: #fff;
  font-size: 30px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }


/*flickit stil za galeriju*/

.gallery {
  background: black;
}

.gallery-cell {
  width: 70%;
  height: 200px;
  /* flex-box, center image in cell */
  display: -webkit-box;
  display: -webkit-flex;
  display:         flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
}

.gallery-cell img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  /* dim unselected */
  opacity: 0.7;
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s, transform 0.3s, -webkit-filter 0.3s, filter 0.3s;
          transition: opacity 0.3s, transform 0.3s, filter 0.3s;
}

/* brighten selected image */
.gallery-cell.is-selected img {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-filter: none;
          filter: none;
}

@media screen and ( min-width: 768px ) {
  .gallery-cell {
    height: 400px;
  }
}

@media screen and ( min-width: 960px ) {
  .gallery-cell {
    width: 60%;
  }
}

/* buttons, no circle */
.flickity-prev-next-button {
  width: 60px;
  height: 60px;
  background: transparent;
  opacity: 0.6;
}
.flickity-prev-next-button:hover {
  background: transparent;
  opacity: 1;
}
/* arrow color */
.flickity-prev-next-button .arrow {
  fill: white;
}
.flickity-prev-next-button.no-svg {
  color: white;
}
/* closer to edge */
.flickity-prev-next-button.previous { left: 0; }
.flickity-prev-next-button.next { right: 0; }
/* hide disabled button */
.flickity-prev-next-button:disabled {
  display: none;
}





