<md-dialog aria-label="MyDay Naslov">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{modal.item.gsx$naziv.$t}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px; ">
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="one">
          <md-content class="md-padding">
            <h1 class="md-display-2">O Kompaniji</h1>
            <p>{{modal.item.gsx$id.$t}}</p>
           <p>{{modal.item.gsx$h.$t}}</p>
           <p>{{modal.item.gsx$v.$t}}</p>
           <p>{{modal.item.gsx$email.$t}}</p>
            <p>{{modal.item.gsx$kontakt.$t}}</p>
          </md-content>
        </md-tab>
        <md-tab label="two">
          <md-content class="md-padding">
            <h1 class="md-display-2">Galerija</h1>
              <img ng-src="{{item.gsx$img.$t}}" class="md-card-image">
          </md-content>
        </md-tab>
        <md-tab label="three">
          <md-content class="md-padding">
            <h1 class="md-display-2">Video</h1>
            <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
          </md-content>
        </md-tab>
      </md-tabs>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
      Vise na sajtu
      </md-button>
      <span flex></span>
      <md-button class ="md-accent" ng-click="answer('not useful')" >
        Zatvori
      </md-button>
      <md-button class="med-primary" ng-click="answer('useful')" style="margin-right:20px;" >
        Like-Love
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>