<md-dialog aria-label="MyDay Naslov" class="fullscreen-dialog">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{modal.item.gsx$naziv.$t}}</h2>
        <h2>{{modal.item.gsx$id.$t}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="modal.cancel()">
          <!--<md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>-->
          <md-icon md-svg-src="close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <md-tabs md-dynamic-height md-border-bottom>
          <md-tab label="Info">
          <!--<md-content class="md-padding" flex="60" style="float:left">-->
            <!--<h3 class="md-display-2">Video</h3>-->
            <!--leva polovina-->
              <!--<img ng-src="{{modal.item.gsx$img.$t}}"  class="md-card-image" style="height:200px;border-radius:5px;"> -->
              <!--<div >-->
                <!--<md-icon md-svg-src="phone"></md-icon>-->
                <!--<span class="card_caption" flex> telefon :</span>
                <span class="card_txt" flex>{{modal.item.gsx$telefon.$t}}</span>
              </div>
              <div >
                <!--<md-icon md-svg-src="web"></md-icon>-->
                <!--<span class="card_caption" flex> web sajt:</span>
                <span class="card_txt">{{modal.item.gsx$web.$t}}</span>
              </div>
              <div >-->
                <!--<md-icon md-svg-src="home"></md-icon>-->
                <!--<span class="card_caption" flex>adresa: </span>
                <span class="card_txt">{{modal.item.gsx$adresa.$t}}</span>
              </div>
              <div >-->
                <!--<md-icon md-svg-src="email"></md-icon>-->
                  <!--<span class="card_caption" flex>email: </span>
                  <span class="card_txt">{{modal.item.gsx$email.$t}}</span>
                </div>
              <div >-->-->
                <!--<md-icon md-svg-src="account"></md-icon>-->
                <!--<span class="card_caption" flex>kontak osoba:</span>
                <span class="card_txt">{{modal.item.gsx$kontakosoba.$t}}</span>
              </div>
          </md-content>-->
          <!--desna polovina-->
            <!--<md-content class="md-padding" flex="40" style="float:left;border-left:1px solid purple">
              <div>
                <md-icon md-svg-src="phone"></md-icon>
                <span class="card_caption" flex> Opis :</span>
                <span class="card_txt" flex>{{modal.item.gsx$opis1.$t}}</span>
                <md-icon md-svg-src="phone"></md-icon>
                <span class="card_caption" flex> Opis :</span>
                <p class="" flex="45">{{modal.item.gsx$opis2.$t}}</p>
              </div>
          </md-content>
        </md-tab>-->
<!--        
        <md-tab label="Galerija">
          <md-content class="md-padding">
            <h3 class="md-display-2">Galerija</h3>
              <img ng-src="{{modal.item.gsx$img.$t}}"  class="md-card-image" item-height="400px">
          </md-content>
        </md-tab>

        <md-tab label="Video">
          <md-content class="md-padding">
          </md-content>
        </md-tab>
      </md-tabs>-->

    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button href="{{modal.item.gsx$web.$t}}" target="_blank" md-autofocus>
      Vise na sajtu
      </md-button>
      <span flex></span>
      <!--<md-button class ="md-accent" ng-click="modal.cancel()" >Zatvori</md-button>-->
      <md-button id="myd_like" class="md-primary" ng-click="modal.ido(modal.item.gsx$id.$t)" style="margin-right:20px;" >
        <md-icon md-svg-src="heart"></md-icon>
        <md-tooltip md-direction="down">Like</md-tooltip>
      </md-button>
      <md-button  id="myd_unlike" class="md-accent " ng-click="modal.r_ido(modal.item.gsx$id.$t)" style="margin-right:20px;" >
        <md-icon md-svg-src="heart"></md-icon>
        <md-tooltip md-direction="down">Unlike</md-tooltip>
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>