<md-dialog aria-label="MyDay Naslov" class="fullscreen-dialog">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{modal.item.gsx$naziv.$t}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="modal.cancel()">
          <!--<md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>-->
          <md-icon md-svg-src="close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="">
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Info">
          <md-content class="md-padding">
            <h3 class="md-display-2">O Kompaniji</h3>
            <p>{{modal.item.gsx$id.$t}}</p>
            <p>{{modal.item.gsx$h.$t}}</p>
            <p>{{modal.item.gsx$v.$t}}</p>
            <p>{{modal.item.gsx$email.$t}}</p>
            <p>{{modal.item.gsx$kontakosoba.$t}}</p>
          </md-content>
        </md-tab>
        <md-tab label="Galerija">
          <md-content class="md-padding">
            <h3 class="md-display-2">Galerija</h3>
              <img ng-src="{{modal.item.gsx$img.$t}}" class="md-card-image">
          </md-content>
        </md-tab>
        <md-tab label="Video">
          <md-content class="md-padding">
            <!--<h3 class="md-display-2">Video</h3>-->
              <div class="myd_card">
                <md-icon md-svg-src="phone"></md-icon>
                <!--<span class="card_caption" flex> telefon :</span>-->
                <span class="card_txt" flex>{{modal.item.gsx$telefon.$t}}</span>
              </div>
              <div class="myd_card">
                <md-icon md-svg-src="web"></md-icon>
                <!--<span class="card_caption" flex> web sajt:</span>-->
                <span class="card_txt">{{modal.item.gsx$web.$t}}</span>
              </div>
              <div class="myd_card">
                <md-icon md-svg-src="home"></md-icon>
                <!--<span class="card_caption" flex>adresa: </span>-->
                <span class="card_txt">{{modal.item.gsx$adresa.$t}}</span>
              </div>
              <div class="myd_card">
                 <md-icon md-svg-src=""></md-icon>
                <!--<span class="card_caption" flex>kontak osoba:</span>-->
                <span class="card_txt">{{modal.item.gsx$kontakosoba.$t}}</span>
              </div>
          </md-content>
        </md-tab>
      </md-tabs>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button href="{{modal.item.gsx$web.$t}}" target="_blank" md-autofocus>
      Vise na sajtu
      </md-button>
      <span flex></span>
      <md-button class ="md-accent" ng-click="modal.cancel()" >Zatvori</md-button>
      <md-button class="md-primary" ng-click="modal.ido(modal.item.gsx$id.$t)" style="margin-right:20px;" >
        <md-icon md-svg-src="heart"></md-icon>
      </md-button>
      <md-button class="md-accent" ng-click="modal.r_ido(modal.item.gsx$id.$t)" style="margin-right:20px;" >
        <md-icon md-svg-src="heart"></md-icon>
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>