<header id="MyDay_header" class="cd-header">
	 <div class="overlay"></div>
<!-- #region SpeedDial -->
			  <md-fab-toolbar md-open="fab.isOpen" count="fab.count" md-direction="right">
					<md-fab-trigger class="align-with-text">
						<md-button aria-label="menu" class="md-fab md-primary">
							<md-tooltip md-direction="down">Login</md-tooltip>
							<md-icon md-svg-icon="menu"></md-icon>
						</md-button>
					</md-fab-trigger>
					<md-toolbar>
						<md-fab-actions class="md-toolbar-tools"  ng-controller="LoginCtrl" layout="row" layout-align="space-between center">
								<span>
									<md-button aria-label="Login" class="md-fab md-raised md-mini hue-2 md-primary" ng-click="login()" >
										<md-icon md-svg-src="account"></md-icon>
										<md-tooltip md-direction="down">Anita</md-tooltip>
									</md-button>

									<md-button aria-label="Logout" class="md-fab md-raised md-mini hue-2 md-primary" ng-click="logout()">
										<md-icon md-svg-src="power"></md-icon>
									</md-button>

									<md-button aria-label="Photo" class="md-fab md-raised md-mini hue-3 md-primary">
										<md-icon md-svg-src="map"></md-icon>
									</md-button>
									
									<a href="register" ng-controller="UserInfoCtrl">	
										<img ng-src="{{auth.profile.picture}}">
										<h2 class="white"><strong> {{auth.profile.nickname}}<strong></h2>
									</a>
								</span>
								<span>
									<div class="nav_links">O nama</div>
									<div class="nav_links">Oglasavanje</div>
									<div class="nav_links">Kontakt</div>
								</span>
						</md-fab-actions>
					</md-toolbar>
				</md-fab-toolbar>
 	 </md-content>
	<!-- #endregion SpeedDial -->

<!-- info o logu -->
		<!--<nav class="main-nav">
			<ul>
			</ul>
		</nav>-->
            <h1>
                MyDay</br>
                <p class="slogan"> ...the best day in your life starts right here! :) </p>
            </h1>
     
	</header>
	<main class="cd-main-content"  ng-controller="MenuCtrl">
		<div class="cd-tab-filter-wrapper">
			<div class="cd-tab-filter">
				<ul class="cd-filters">
					<li class="placeholder"> 
						<a data-type="all">All</a> <!-- selected option on mobile -->
					</li>
					<li class="filter"><a class="selected"  data-type="all">All</a></li>
					<li class="filter" data-filter=".color-Sale"><a  data-type="color-Sale" ng-click='changeSet("sale")'>Sale</a></li>
					<li class="filter" data-filter=".color-Muzika"><a  data-type="color-Muzika" ng-click='changeSet("music")'>Muzika</a></li>
                    <li class="filter" data-filter=".color-Torte"><a  data-type="color-Torte" ng-click='changeSet("cake")'>Torte</a></li>
					<li class="filter" data-filter=".color-Fotograf"><a  data-type="color-Fotograf" ng-click='changeSet("foto")'>Fotograf</a></li>
				
				</ul> <!-- cd-filters -->
			</div> <!-- cd-tab-filter -->
   		   <md-progress-linear ng-controller="ListController"  md-mode="indeterminate" ng-show="isLoading"></md-progress-linear> 
		</div> <!-- cd-tab-filter-wrapper -->



<!--SEKCIJA:TABLE-->
		<section ng-controller="ListController"  class="cd-gallery" >
				         <md-grid-list class="mix" md-cols-xs="1" md-cols-sm="2"  md-cols-md="4"  md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="12px" md-gutter-gt-sm="8px">
								<md-grid-tile  class="md-accent" ng-repeat="item in lists | filter:search"
									md-colspan-gt-sm="{{item.gsx$w.$t}}" 
									md-rowspan-gt-sm="{{item.gsx$h.$t}}" 
									md-colspan-sm="1" 
									md-colspan-xs="1"
									data-myDay-type="{{item.gsx$tip.$t}}">
										<img ng-src="{{item.gsx$img.$t}}" class="md-card-image" layout-fill>
										<md-grid-tile-footer>
											<span class="md-headline company_name">{{item.gsx$naziv.$t}}</span>
										</md-grid-tile-footer>
								</md-grid-tile>
   					  		</md-grid-list>		
                </div>
                <li class="gap"></li>
			</ul>
        <div class="cd-fail-message">Nismo pronasli rezultate za zadati kriterijum</div>
        </section>
	
<!--SEKCIJA: FILETERI-->

		<div class="cd-filter">
			<form id="MyDay_filteri">
			
				<div class="cd-filter-block">
					<h4>Pretraga</h4>
					<div class="cd-filter-content">
						<input type="search" placeholder="Probajte sa tri sesira i sl...." ng-model="search.gsx$naziv.$t">
					</div> <!-- cd-filter-content -->
				</div> <!-- cd-filter-block -->

				<div class="cd-filter-block">
					<h4>Filteri:</h4>
					<ul class="cd-filter-content cd-filters list" ng-repeat="option in filters">{{option[0]}}
						<md-slider  min="{{option[1].$first}}" max="{option[1].$last}"></md-slider>
						<!--<li ng-repeat="suboption in option[1]">
							<input class="filter" data-filter=".{{suboption}}" type="checkbox" id="checkbox1">
			    			<label class="checkbox-label" for="checkbox1">{{suboption}}</label>
							<md-slider  min="$first" max="$last"></md-slider>
						</li>-->
					</ul> <!-- cd-filter-content -->
				</div> <!-- cd-filter-block -->

				<div class="cd-filter-block">
					<h4>Dodatni fileri</h4>
			
					<div class="cd-filter-content">
						<div class="cd-select cd-filters">
							<select class="filter" name="selectThis" id="selectThis" ng-model="search.gsx$tip.$t">
								<option value="">Izaberite opciju</option>
								<option value="Muzika">Muzika</option>
								<option value="Torte">Torte</option>
								<option value="Sale">Sale</option>
								<option value="Foto">Foto</option>
							</select>
						</div> <!-- cd-select -->
					</div> <!-- cd-filter-content -->
				</div> <!-- cd-filter-block -->
<!--REM radio buttons trenutno ne trebaju-->
				<!--<div class="cd-filter-block">
					<h4>Primer izbornika</h4>

					<ul class="cd-filter-content cd-filters list">
						<li>
							<input class="filter" data-filter="" type="radio" name="radioButton" id="radio1" checked>
							<label class="radio-label" for="radio1">Svi</label>
						</li>

						<li>
							<input class="filter" data-filter=".radio2" type="radio" name="radioButton" id="radio2">
							<label class="radio-label" for="radio2">Izbor 1</label>
						</li>

						<li>
							<input class="filter" data-filter=".radio3" type="radio" name="radioButton" id="radio3">
							<label class="radio-label" for="radio3">Izbor 2</label>
						</li>
					</ul> <!-- cd-filter-content -->
				<!--</div>  cd-filter-block -->
			</form>

			<a  class="cd-close">Zatvori</a>
		</div> <!-- cd-filter -->

		<a  class="cd-filter-trigger">Filteri</a>
	</main> <!-- cd-main-content -->
 

<script src="js/jquery-2.1.4.min.js"></script>
        <!--<script src="js/modernizr.js"></script>-->
        <script src="js/jquery.mixitup.min.js"></script>
        <script src="js/main.js"></script>
        <script src="js/flickity.pkgd.min.js"></script>
