<header  class="cd-header">
		<div id="cd-logo"><a ><img src="img/cd-logo.svg" alt="Logo"></a></div>
		<nav class="main-nav">
			<ul>
				<!-- inser more links here -->
				<li><a class="cd-signin" >Sign in</a></li>
				<li><a class="cd-signup" >Sign up</a></li>
			</ul>
		</nav>
        <h1>MyDay</h1>
	</header>

	<main class="cd-main-content">
		<div class="cd-tab-filter-wrapper">
			<div class="cd-tab-filter">
				<ul class="cd-filters">
					<li class="placeholder"> 
						<a data-type="all">All</a> <!-- selected option on mobile -->
					</li> 
					<li class="filter"><a class="selected"  data-type="all">All</a></li>
					<li class="filter" data-filter=".color-1"><a  data-type="color-1">Sale</a></li>
					<li class="filter" data-filter=".color-2"><a  data-type="color-2">Muzika</a></li>
                    <li class="filter" data-filter=".color-3"><a  data-type="color-3">Torte</a></li>
					<li class="filter" data-filter=".color-4"><a  data-type="color-4">Fotograf</a></li>
				</ul> <!-- cd-filters -->
			</div> <!-- cd-tab-filter -->
		</div> <!-- cd-tab-filter-wrapper -->

		<section class="cd-gallery" >
			<ul >
				<li class="mix color-1  check1 radio2 option3" ng-repeat="list in lists" on-finish-render="ngRepeatFinished">
                    <img src="img/001.jpg" alt="Image 1"></img>
                    <div class="meta__title">{{list.name}}</div>
                    <div class="meta__brand">{{list.address}}</div>
                    <div class="meta__price">{{list.lastname}}</div>
                </li>
        
                <li class="mix color-1 check1 radio2 option3"><img src="img/001.jpg" alt="Image 1"></li>
				<li class="mix color-2 check2 radio2 option2"><img src="img/002.jpg" alt="Image 2"></li>
				<li class="mix color-1 check3 radio3 option1"><img src="img/003.jpg" alt="Image 3"></li>
				<li class="mix color-3 check3 radio2 option4"><img src="img/004.jpg" alt="Image 4"></li>
                <li class="mix color-2 check3 radio2 option2"><img src="img/005.jpg" alt="Image 5"></li>
                <li class="gap"></li>
			</ul>
			<div class="cd-fail-message">Nismo pronasli rezultate za zadati kriterijum</div>
		</section> <!-- cd-gallery -->

		<div class="cd-filter">
			<form>
				<div class="cd-filter-block">
					<h4>Search</h4>
					
					<div class="cd-filter-content">
						<input type="search" placeholder="Try color-1...">
					</div> <!-- cd-filter-content -->
				</div> <!-- cd-filter-block -->

				<div class="cd-filter-block">
					<h4>Check boxes</h4>

					<ul class="cd-filter-content cd-filters list">
						<li>
							<input class="filter" data-filter=".check1" type="checkbox" id="checkbox1">
			    			<label class="checkbox-label" for="checkbox1">Option 1</label>
						</li>

						<li>
							<input class="filter" data-filter=".check2" type="checkbox" id="checkbox2">
							<label class="checkbox-label" for="checkbox2">Option 2</label>
						</li>

						<li>
							<input class="filter" data-filter=".check3" type="checkbox" id="checkbox3">
							<label class="checkbox-label" for="checkbox3">Option 3</label>
						</li>
					</ul> <!-- cd-filter-content -->
				</div> <!-- cd-filter-block -->

				<div class="cd-filter-block">
					<h4>Select</h4>
					
					<div class="cd-filter-content">
						<div class="cd-select cd-filters">
							<select class="filter" name="selectThis" id="selectThis">
								<option value="">Choose an option</option>
								<option value=".option1">Option 1</option>
								<option value=".option2">Option 2</option>
								<option value=".option3">Option 3</option>
								<option value=".option4">Option 4</option>
							</select>
						</div> <!-- cd-select -->
					</div> <!-- cd-filter-content -->
				</div> <!-- cd-filter-block -->

				<div class="cd-filter-block">
					<h4>Radio buttons</h4>

					<ul class="cd-filter-content cd-filters list">
						<li>
							<input class="filter" data-filter="" type="radio" name="radioButton" id="radio1" checked>
							<label class="radio-label" for="radio1">All</label>
						</li>

						<li>
							<input class="filter" data-filter=".radio2" type="radio" name="radioButton" id="radio2">
							<label class="radio-label" for="radio2">Choice 2</label>
						</li>

						<li>
							<input class="filter" data-filter=".radio3" type="radio" name="radioButton" id="radio3">
							<label class="radio-label" for="radio3">Choice 3</label>
						</li>
					</ul> <!-- cd-filter-content -->
				</div> <!-- cd-filter-block -->
			</form>

			<a  class="cd-close">Close</a>
		</div> <!-- cd-filter -->

		<a  class="cd-filter-trigger">Filters</a>
	</main> <!-- cd-main-content -->

<!--///modal form sign in sign up-->

<div class="cd-user-modal"> <!-- this is the entire modal form, including the background -->
		<div class="cd-user-modal-container"> <!-- this is the container wrapper -->
			<ul class="cd-switcher">
				<li><a >Sign in</a></li>
				<li><a >New account</a></li>
			</ul>
			<div id="cd-login"> <!-- log in form -->
				<form class="cd-form">
					<p class="fieldset">
						<label class="image-replace cd-email" for="signin-email">E-mail</label>
						<input class="full-width has-padding has-border" id="signin-email" type="email" placeholder="E-mail">
						<span class="cd-error-message">Error message here!</span>
					</p>

					<p class="fieldset">
						<label class="image-replace cd-password" for="signin-password">Password</label>
						<input class="full-width has-padding has-border" id="signin-password" type="text"  placeholder="Password">
						<a  class="hide-password">Hide</a>
						<span class="cd-error-message">Error message here!</span>
					</p>

					<p class="fieldset">
						<input type="checkbox" id="remember-me" checked>
						<label for="remember-me">Remember me</label>
					</p>

					<p class="fieldset">
						<input class="full-width" type="submit" value="Login">
					</p>
				</form>
				
				<p class="cd-form-bottom-message"><a >Forgot your password?</a></p>
				<!-- <a href="#0" class="cd-close-form">Close</a> -->
			</div> <!-- cd-login -->
        <form ng-model="formData">
			<div id="cd-signup"> <!-- sign up form -->
				<form class="cd-form">
					<p class="fieldset">
						<label class="image-replace cd-username" for="signup-username">{{name}}</label>
						<input class="full-width has-padding has-border" id="signup-username" type="text" placeholder="Username"  ng-model="formData.name">
						<span class="cd-error-message">Error message here!</span>
					</p>

					<p class="fieldset">
						<label class="image-replace cd-email" for="signup-email">{{address}}</label>
						<input class="full-width has-padding has-border" id="signup-email" type="email" placeholder="E-mail" ng-model="formData.addressa">
						<span class="cd-error-message">Error message here!</span>
					</p>

					<p class="fieldset">
						<label class="image-replace cd-password" for="signup-password" ng-model="formData.lastname">{{password}}</label>
						<input class="full-width has-padding has-border" id="signup-password" type="text"  placeholder="Password">
						<a  class="hide-password">Hide</a>
						<span class="cd-error-message">Error message here!</span>
					</p>

					<p class="fieldset">
						<input type="checkbox" id="accept-terms">
						<label for="accept-terms">I agree to the <a href="#0">Terms</a></label>
					</p>

					<p class="fieldset">
						<input class="full-width has-padding" type="submit" value="Create account">
					</p>
				</form>

				 <a  class="cd-close-form">Close</a> 
                
			</div> <!-- cd-signup -->
        </form>
			<div id="cd-reset-password"> <!-- reset password form -->
				<p class="cd-form-message">Lost your password? Please enter your email address. You will receive a link to create a new password.</p>

				<form class="cd-form">
					<p class="fieldset">
						<label class="image-replace cd-email" for="reset-email">E-mail</label>
						<input class="full-width has-padding has-border" id="reset-email" type="email" placeholder="E-mail">
						<span class="cd-error-message">Error message here!</span>
					</p>

					<p class="fieldset">
						<input class="full-width has-padding" type="submit" value="Reset password">
					</p>
				</form>

				<p class="cd-form-bottom-message"><a href="#0">Back to log-in</a></p>
			</div> <!-- cd-reset-password -->
			<a  class="cd-close-form">Close</a>
		</div> <!-- cd-user-modal-container -->
	</div> <!-- cd-user-modal -->
    
        <script src="js/jquery-2.1.4.min.js"></script>
        <script src="js/modernizr.js"></script>
        <script src="js/jquery.mixitup.min.js"></script>
        <script src="js/main.js"></script>
        <script src="js/login.js"></script>  