<!--SEKCIJA:HEADER-->
	<header id="MyDay_header" class="cd-header" ng-controller="ListController" layout="column" layout-align="start center">
	 <div class="overlay"></div>
  <!--region SpeedDial -->
			  <!--<md-fab-toolbar md-open="fab.isOpen" count="fab.count" md-direction="right">-->
					<!--<md-fab-trigger class="align-with-text">
						<md-button aria-label="menu" class="md-fab md-primary">
							<md-tooltip md-direction="down">Login</md-tooltip>
							<md-icon md-svg-icon="menu"></md-icon>
						</md-button>
					</md-fab-trigger>-->
					<md-toolbar id="myday_toolbar" ng-controller="LoginCtrl" layout="row" layout-align="space-between center">
						<!--<md-fab-actions class="md-toolbar-tools"  ng-controller="LoginCtrl" layout="row" layout-align="space-between center">-->
								<span>
									<md-button aria-label="Login" class=" md-raised md-mini hue-2 md-primary" ng-click="login()"  ng-hide="mystate()">
										<md-icon md-svg-src="account">Prijava</md-icon>
										<strong>Prijava</strong>
										<md-tooltip md-direction="down">SignIn</md-tooltip>
									</md-button>
									<md-button aria-label="SignUp" class=" md-raised md-mini hue-2 md-accent" ng-click="signup()" ng-hide="mystate()" >
										<md-icon md-svg-src="account"></md-icon>
												<strong>Registracija</strong>
										<md-tooltip md-direction="down">Registracija</md-tooltip>
									</md-button>

									<md-button aria-label="Logout" class="md-fab md-raised md-mini hue-2 md-primary" ng-show="mystate()" ng-click="logout()">
										<md-icon md-svg-src="power"></md-icon>
										<md-tooltip md-direction="down">Odjavi se</md-tooltip>
									</md-button>

									<md-button aria-label="profile" class="md-fab md-raised md-mini hue-3 md-primary" ng-href="#/userpage"  ng-show="mystate()">
										<md-icon md-svg-src="account"></md-icon>
										<md-tooltip md-direction="down">Podesavanja naloga</md-tooltip>
									</md-button>
									
									<md-button aria-label="likes" ng-class="displayElement ? 'md-accent' : 'md-primary'" class="md-fab md-raised md-mini hue-3 md-primary" ng-show="mystate()" ng-click="toggleElement()" >
										<md-icon md-svg-src="heart"></md-icon>
										<md-tooltip md-direction="down">Tvoj izbor</md-tooltip>
									</md-button>
									
									<md-button aria-label="web" class="md-fab md-raised md-mini hue-3 md-primary"  ng-show="mystate()">
										<md-icon md-svg-src="web"></md-icon>
										<md-tooltip md-direction="down">Tvoja pozivnica</md-tooltip>
									</md-button>
									<!-- <span>{{auth.profile.name}}</span>
									<a href="register" ng-controller="UserInfoCtrl" ng-show="mystate()">	
										<img ng-src="{{auth.profile.picture}}">
										<h2 class="white"><strong> {{auth.profile.nickname}}<strong></h2>
									</a> -->
								</span>

								<span> 
									<div class="nav_links"  ng-click='changeSet("sale")'>O nama</div>
									<div class="nav_links">Oglasavanje</div>
									<div class="nav_links">Kontakt</div>
								</span>

						<!--</md-fab-actions>-->
					</md-toolbar>
				<!--</md-fab-toolbar>-->
	<!-- # end region SpeedDial -->
	<!--info o logu -->
			<h1 layout="column" layout-align="start center" layout-align-xs="center top">
				<img id="trigger-menu" class="myday_logo"  src="/img/MyDay.gif"></img>
				<p  class="slogan" ng-click='changeSet("menu")'>{{auth.profile.name}}...the best day in your life starts right here ; ) !!!</p>
			</h1>
			
	</header>
<!--SEKCIJA:SWITCHER+LOADER-->	
	<main class="cd-main-content"  >
		<div class="cd-tab-filter-wrapper">
			<div class="cd-tab-filter">
				<ul class="cd-filters" > 
					 <!-- selected option on mobile -->
					<li class="placeholder">
						<a data-type="all">All</a> 
					</li>
					<p  class="scroll_head"ng-click='changeSet("menu")'>
						{{auth.profile.name}} {{kategorija}}
					</p>
				</ul> <!-- cd-filters -->
			</div> <!-- cd-tab-filter -->
   		   <md-progress-linear  md-mode="indeterminate" ng-show="isLoading"></md-progress-linear> 
		</div> <!-- cd-tab-filter-wrapper -->
<!--SEKCIJA:TABLE-->
			<section class="cd-gallery">
				         <md-grid-list 
							class="myd_mix"
							md-cols-xs="1" 
							md-cols-sm="2"   
							md-cols-md="4"  
							md-cols-gt-md="6" 
							md-row-height-gt-md="1:1"
							md-row-height="2:2"
							md-gutter="12px" 				  	
						 	md-gutter-gt-sm="8px">
								<md-grid-tile  class="md-accent myd_card" ng-repeat='item in lists | filter : search | myCitiesFilter:filterCities | myFilter:filterValues'
									md-colspan-gt-sm="{{item.gsx$w.$t}}" 
									md-rowspan-gt-sm="{{item.gsx$h.$t}}" 
									md-colspan-sm="1" 
									md-colspan-xs="1"
									data-myDay-type="{{item.gsx$tip.$t}}"
									data-myDay-ref="{{item.gsx$id.$t}}"
									md-whiteframe-3dp
									ng-click="showAdvanced(e,item)">
									<img class="lozad" data-src="url({{item.gsx$img.$t}}" />
											<!-- <div class="overlay"></div> -->
											<md-grid-tile-footer class="myd_card_footer"> 
												<span class="md-headline company_name"><strong>{{item.gsx$naziv.$t}}</strong></span>
												<span class="md-headline company_name">{{item.gsx$id.$t}}</span>
												<span class="md-headline company_name">{{item.gsx$adresa.$t}}</span>
											</md-grid-tile-footer>	
								</md-grid-tile>		
   					  		</md-grid-list>	
                	<li class="gap"></li>
        	<div class="cd-fail-message">Nismo pronasli rezultate za zadati kriterijum</div>
        </section>
	
<!--SEKCIJA: FILETERI-->
		<div class="cd-filter">
			<form id="MyDay_filteri">
				<div class="cd-filter-block">
					<h4>Pretraga</h4>
					<div class="cd-filter-content">
						<input type="search" placeholder="Probajte sa tri sesira i sl...." ng-model="search.gsx$naziv.$t">
					</div> <!-- cd-filter-content -->
				</div> <!-- cd-filter-block -->

				<div class="cd-filter-block">
					<h4>Filteri:</h4>
					<ul class="cd-filter-content cd-filters list" ng-repeat="option in filters track by $index">
						<div layout>
							<div flex="30" layout layout-align="left center">
								<span class="md-body-1">{{option[0]}}</span>
							</div>
							<md-slider 
								flex 
								class="md-accent" 
								md-discrete 
								ng-model="rating2" 
								step="1" 
								min="{{option[1][0]}}" 
								max="{{option[1][option[1].length-1]}}" 
								aria-label="rating">
							</md-slider>
						</div>
					</ul> <!-- cd-filter-content -->
				
				</div> <!-- cd-filter-block -->
					<div class="cd-filter-block">
						<h4>Izaberi kategoriju</h4>
								<select id="cd-dropdown" name="cd-dropdown" class="cd-select1 filter"  ng-model="search.gsx$tip.$t" ng-init="search.gsx$tip.$t=''">
											<option value="">Izaberite opciju</option>
											<option value="Muzika">Muzika</option>
											<option value="Torte">Torte</option>
											<option value="Sale">Sale</option>
											<option value="Foto">Foto</option>
								</select>
					</div>
					
				<div class="cd-filter-block">
					<h4>Dodatni fileri</h4>
						<tags-input  
								ng-model="tags"  
								use-strings="true" 
								display-property="name" 
								placeholder="Izaberite grad"
								replace-spaces-with-dashes="false">
								<auto-complete source="loadCountries($query)"
										min-length="0"
										load-on-focus="true"
										load-on-empty="true"
										max-results-to-show="32"
										template="my-custom-template">
								</auto-complete>
							</tags-input>
				</div> <!-- cd-filter-block -->
 <!--REM radio buttons trenutno ne trebaju-->
				<!--<div class="cd-filter-block">
					<h4>Primer izbornika</h4>

					<ul class="cd-filter-content cd-filters list">
						<li>
							<input class="filter" data-filter="" type="radio" name="radioButton" id="radio1" checked>
							<label class="radio-label" for="radio1">Svi</label>
						</li>

						<li>
							<input class="filter" data-filter=".radio2" type="radio" name="radioButton" id="radio2">
							<label class="radio-label" for="radio2">Izbor 1</label>
						</li>

						<li>
							<input class="filter" data-filter=".radio3" type="radio" name="radioButton" id="radio3">
							<label class="radio-label" for="radio3">Izbor 2</label>
						</li>
					</ul> <!-- cd-filter-content -->
				<!--</div>  cd-filter-block -->
			</form>

			<a  class="cd-close">Zatvori</a>
		</div> <!-- cd-filter -->

		<a  class="cd-filter-trigger">Filteri</a>
	</main> <!-- cd-main-content -->


<div class="overlay_menu overlay-hugeinc" style="text-align:center;padding:2%">
				<button type="button" class="overlay_menu-close">
					<p class="slogan"><md-icon md-svg-src="close"></md-icon></p>
				</button>
				<p class="slogan">...izaberite kategoriju :) </p>

				<nav layout="row" layout-align="space-around center">
					<div layout="column" layout-margin layout-padding layout-fill  flex>
						<md-button ng-click='changeSet("music")' flex aria-label="Muzika" class="md-raised hue-3 md-primary">
							<md-icon md-svg-src="/img/myd_icon/music.svg"></md-icon>
							<strong>1 Muzika</strong>
							<md-tooltip md-direction="down">Muzika</md-tooltip>
						</md-button>
						<md-button ng-click='changeSet("sale")' flex aria-label="Sale" class="md-raised hue-3 md-primary">
								<md-icon md-svg-src="/img/myd_icon/music.svg"></md-icon>
								<strong>2 Sale</strong>
								<md-tooltip md-direction="down">Sale</md-tooltip>
						</md-button>
						<md-button ng-click='changeSet("cvecara")' flex aria-label="profile" class="md-raised hue-3 md-primary">
								<md-icon md-svg-src="/img/myd_icon/music.svg"></md-icon>
								<strong>3 Cvecare</strong>
								<md-tooltip md-direction="down">Cvecare</md-tooltip>
						</md-button>
						<md-button ng-click='changeSet("dekor")' flex aria-label="profile" class="md-raised hue-3 md-primary">
								<md-icon   md-svg-src="/img/myd_icon/music.svg"></md-icon>
								<strong>4 Dekor</strong>
								<md-tooltip md-direction="down">Dekor</md-tooltip>
						</md-button>
					</div>
					<div layout="column"   layout-padding  layout-margin  layout-fill style flex>
						<md-button ng-click='changeSet("zlatare")' flex aria-label="profile" class="md-raised hue-3 md-primary">
							<md-icon md-svg-src="/img/myd_icon/music.svg"></md-icon>
							<strong>5 Zlatare</strong>
							<md-tooltip md-direction="down">Zlatare</md-tooltip>
						</md-button>
						<md-button ng-click='changeSet("music")' flex aria-label="profile" class="md-raised hue-3 md-primary">
								<md-icon md-svg-src="/img/myd_icon/music.svg"></md-icon>
								<strong>6 Oldtimers</strong>
								<md-tooltip md-direction="down">Oldtimers</md-tooltip>
						</md-button>
						<md-button ng-click='changeSet("poto")' flex aria-label="profile" class="md-raised hue-3 md-primary">
								<md-icon md-svg-src="/img/myd_icon/music.svg"></md-icon>
								<strong>7 Fotografi</strong>
								<md-tooltip md-direction="down">Fotografi</md-tooltip>
						</md-button>
						<md-button ng-click='changeSet("animatori")' flex aria-label="profile" class="md-raised hue-3 md-primary">
								<md-icon md-svg-src="/img/myd_icon/music.svg"></md-icon>
								<strong>8 Animatori</strong>
								<md-tooltip md-direction="down">Animatori</md-tooltip>
						</md-button>
					</div>
					<div layout="column"  layout-padding layout-margin  layout-fill style flex>
						<md-button ng-click='changeSet("putovanja")' flex aria-label="putovanja" class="md-raised hue-3 md-primary">
							<md-icon md-svg-src="/img/myd_icon/music.svg"></md-icon>
							<strong>9 Putovanja</strong>
							<md-tooltip md-direction="down">Putovanja</md-tooltip>
						</md-button>
						<md-button ng-click='changeSet("pozivnice")' flex aria-label="profile" class="md-raised hue-3 md-primary">
								<md-icon md-svg-src="/img/myd_icon/music.svg"></md-icon>
								<strong>10 Pozivnice</strong>
								<md-tooltip md-direction="down">Pozivnice</md-tooltip>
						</md-button>
						<md-button ng-click='changeSet("beauty")' flex aria-label="profile" class="md-raised hue-3 md-primary">
								<md-icon md-svg-src="/img/myd_icon/music.svg"></md-icon>
								<strong>11 Beauty</strong>
								<md-tooltip md-direction="down">Beauty</md-tooltip>
						</md-button>
						<md-button ng-click='changeSet("vencanice")' flex aria-label="profile" class="md-raised hue-3 md-primary">
								<md-icon md-svg-src="/img/myd_icon/music.svg"></md-icon>
								<strong>12 Vencanice</strong>
								<md-tooltip md-direction="down">Vencanice</md-tooltip>
						</md-button>
					</div>
<!--stari meni				 -->
				<!-- <ul layout="row" layout-align="space-between center">
					<li flex ng-click='changeSet("music")'><img src="/img/myd_icon/myd_0002_music.png">Muzika</li>
					<li flex ng-click='changeSet("cake")'><img src="/img/myd_icon/myd_0004_torta.png">Torte</li>
					<li flex ng-click='changeSet("sale")'><img src="/img/myd_icon/myd_0002_music.png">Sale i restoran</li>
					<li flex ng-click='changeSet("photo")'><a><img src="/img/myd_icon/myd_0002_music.png">Fotografi</a></li>
					</ul>
					<ul>
					<li flex ng-click='changeSet("dekor")'><img src="/img/myd_icon/myd_0002_music.png">Dekor</li>
					<li flex ng-click='changeSet("zlatare")'><img src="/img/myd_icon/myd_0003_ring.png">Zlatare</li>
					<li flex ng-click='changeSet("cvecara")'><img src="/img/myd_icon/myd_0005_cvecara.png">Cvecare</li>
					<li flex ng-click='changeSet("sale")'><img src="/img/myd_icon/myd_0001_animators.png">Animatori</li>
				</ul>
				<ul>
					
					<li flex ng-click='changeSet("putovanja")'><img src="/img/myd_icon/myd_0002_music.png">Putovanja</li>
					<li flex ng-click='changeSet("pozivnice")'><img src="/img/myd_icon/myd_0002_music.png">Pozivnice</li>
					<li flex ng-click='changeSet("beauty")'><img src="/img/myd_icon/myd_0000_beauty.png">Beauty</li>
					<li flex ng-click='changeSet("vencanice")'><img src="/img/myd_icon/myd_0002_music.png">Vencanice</li>
				</ul>
				<ul>
					<li flex ng-click='changeSet("odela")'><img src="/img/myd_icon/myd_0002_music.png">Odela</li>
					<li flex ng-click='changeSet("obuca")'><img src="/img/myd_icon/myd_0002_music.png">Obuca</li>
					<li flex ng-click='changeSet("vozila")'><img src="/img/myd_icon/myd_0002_music.png">Vozila</li>
					<li flex ng-click='changeSet("vatromet")'><img src="/img/myd_icon/myd_0002_music.png">Vatromet</li>
				</ul>
				<ul>
					<li flex ng-click='changeSet("baloni")'><img src="/img/myd_icon/myd_0002_music.png">Baloni</li>
					<li flex ng-click='changeSet("satori")'><img src="/img/myd_icon/myd_0002_music.png">Satori</li>
					<li flex ng-click='changeSet("pokloni")'><img src="/img/myd_icon/myd_0002_music.png">Pokloni</li>
					<li flex ng-click='changeSet("organizacija")'><img src="/img/myd_icon/myd_0002_music.png">Organizacija</li>
				</ul> -->
			</nav>
		</div>


<div ng-include="'pages/footer.htm'"></div>
<!--SEKCIJA:JS-->
	<script src="js/jquery-2.1.4.min.js"></script>
        <!--<script src="js/modernizr.js"></script>-->
        <script src="js/jquery.mixitup.min.js"></script>
        <script src="js/main.js"></script>
        <script src="js/flickity.pkgd.min.js"></script>
		<script src="js/jquery.dropdown.js"></script>
		<script src="js/fullscreen.js"></script> <!-- Resource jQuery -->
<!-- drop down tags  -->
		<script type="text/ng-template" id="my-custom-template">
				<div class="right-panel">
					<span ng-bind-html="$highlight($getDisplayText())"></span>
					<span>({{data.rank}})</span>
					<span>{{data.confederation}}</span>
				</div>
			</script>
<!-- <script>
// progressive-image.js
	if (window.addEventListener && window.requestAnimationFrame && document.getElementsByClassName) window.addEventListener('load', function() {

	// start
	var pItem = document.getElementsByClassName('progressive replace'), timer;

	window.addEventListener('scroll', scroller, false);
	window.addEventListener('resize', scroller, false);
	inView();


	// throttled scroll/resize
	function scroller(e) {

		timer = timer || setTimeout(function() {
		timer = null;
		requestAnimationFrame(inView);
		}, 300);

	}


	// image in view?
	function inView() {

		var wT = window.pageYOffset, wB = wT + window.innerHeight, cRect, pT, pB, p = 0;
		while (p < pItem.length) {

		cRect = pItem[p].getBoundingClientRect();
		pT = wT + cRect.top;
		pB = pT + cRect.height;

		if (wT < pB && wB > pT) {
			loadFullImage(pItem[p]);
			pItem[p].classList.remove('replace');
		}
		else p++;

		}

	}


	// replace with full image
	function loadFullImage(item) {

		if (!item || !item.href) return;

		// load image
		var img = new Image();
		if (item.dataset) {
		img.srcset = item.dataset.srcset || '';
		img.sizes = item.dataset.sizes || '';
		}
		img.src = item.href;
		img.className = 'reveal';
		if (img.complete) addImg();
		else img.onload = addImg;

		// replace image
		function addImg() {

		// disable click
		item.addEventListener('click', function(e) { e.preventDefault(); }, false);

		// add full image
		item.appendChild(img).addEventListener('animationend', function(e) {

			// remove preview image
			var pImg = item.querySelector && item.querySelector('img.preview');
			if (pImg) {
			e.target.alt = pImg.alt || '';
			item.removeChild(pImg);
			e.target.classList.remove('reveal');
			}

		});

		}

	}

}, false); -->
</script>

<script>
	const observer = lozad(); // lazy loads elements with default selector as ".lozad"
	observer.observe();
</script>