   <section class="grid grid--loading">
        <!-- Loader -->
            <img class="grid__loader" src="images/grid.svg" width="60" alt="Loader image" />
            <!-- Grid sizer for a fluid Isotope (Masonry) layout -->
            <div class="grid__sizer"></div>

            <!-- Grid items -->
        <div  ng-repeat="list in lists" on-finish-render="ngRepeatFinished" class="grid__item dresses">
              <div class="slider">
                <div class="slider__item"><img src="../images/macak.jpg" alt="Dummy" /></div>
                <div class="slider__item"><img src="../images/shirt.png" alt="Dummy" /></div>
                <div class="slider__item"><img src="../images/shirt.png" alt="Dummy" /></div>
              </div>
              <div class="meta">
                <h3 class="meta__title">NAslov Kontrole</h3>
<!--
                <h3 class="meta__title">{{ list.text }}</h3>
                <span class="meta__brand">{{ list.text }}</span>
                <span class="meta__price">{{ list.text }}</span>
-->

                 <input data={{list.id_list}} value="Delete" type="button" ng-click="deleteUser(list.list)"></input>
              </div>
              <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
            </div>

      </section>
      <!--      JS LIBS-->
<!--
        <script src="js/modernizr.custom.js"></script>
        <script src="js/isotope.pkgd.min.js"></script>
        <script src="js/flickity.pkgd.min.js"></script>
        <script src="js/main.js"></script>  
-->
                <!--App files-->