   <section class="grid grid--loading" ng-controller="listController">
        <!-- Loader -->
            <img class="grid__loader" src="images/grid.svg" width="60" alt="Loader image" />
            <!-- Grid sizer for a fluid Isotope (Masonry) layout -->
            <div class="grid__sizer"></div>

            <!-- Grid items -->
        <div  ng-repeat="list in lists" on-finish-render="ngRepeatFinished" class="grid__item dresses">
              <div class="slider">
                <div class="slider__item"><img src="../images/macak.jpg" alt="Dummy" /></div>
                <div class="slider__item"><img src="../images/shirt.png" alt="Dummy" /></div>
                <div class="slider__item"><img src="../images/shirt.png" alt="Dummy" /></div>
              </div>
              <div class="meta">
                <h3 class="meta__title">{{list.name}}</h3>
                  <span class="meta__brand">{{list.address}}</span>
                  <span class="meta__price">{{list.lastname}}</span>
                 <input data={{list.id_list}} value="Delete" type="button" ng-click="deleteList(list._id)"></input>
              </div>
              <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
            </div>
            <div>Footer liste</div>
</div>
      </section>
