<md-content layout-padding layout="column" 
            layout-sm="column" 
            layout-wrap style="width:90%" 
            ng-controler="list1controller" 
            md-colors="::{backgroundColor: '{{theme}}-primary-50'}" 
            layout-align="none"
            class="md-tall">
    
        <md-toolbar md-scroll-shrink>
            <div class="md-toolbar-tools" ng-controller="UserInfoCtrl" >
            Welcome {{auth.profile.nickname}} 
                <img src="{{auth.profile.picture}}"></img>
            </div>
          </md-toolbar>
<!--\\\\\\\\\starting form layout-->
    <div  layout="row"  layout-margin layout-padding layout-align="space-around center">
    
        <section class="md-whiteframe-2dp md-background-white"  FLEX="40"  layout-margin layout-padding> 
            
               <fieldlist ng-model="formData" ng-disabled="data.cb2" class="md-primary hue-1">
                   
                <md-switch ng-model="data.cb2" aria-label="Switch 2" ng-true-value="false" ng-false-value="true" class="md-primary">
                </md-switch>
                   
                <md-input-container style="width:90%" ngmodel="state">
                     <label>Ime:{{data.cb2}}</label>
                    </br><input  type="text" name="name"  ng-model="formData.name"></input>{{name}}<br>
                </md-input-container>

                 <md-input-container style="width:90%">
                     <label> Prezime:</label> 		   
                     </br><input  type="text" name="lastname"  ng-readonly="data.cb2"  ng-model="formData.lastname">{{ lastname }}<br>
                </md-input-container>

                 <md-input-container style="width:90%">
                   <label>Naziv preduzeca:</label> 
                     </br><input  type="text" name="company"   ng-readonly="data.cb2" ng-model="formData.company">{{company}}<br>
                 </md-input-container>

                 <md-input-container md-svg-src="img/icons/ic_email_24px.svg" class="email" style="width:90%">
                     <label>email:</label> 		   
                     </br><input  type="text" name="address" ng-readonly="data.cb2"  ng-model="formData.address">{{address}}<br>
                 </md-input-container>

                <md-input-container ng-disabled="data.cb2" flex>
                    <label for="category">Vrsta delatnosti: </label></br>
                    <md-select name="category" ng-model="category.singleSelect" value="{{category.singleSelect}}">
                      <md-option ng-repeat="option in category.availableOptions" value="{{option.id}}">{{option.name}}</option>
                    </md-select>
                </md-input-container>
                <md-input-container flex>
                    <label for="size" >Velicina prikaza: </label></br>
                    <md-select name="size" ng-model="size.singleSelect" value="{{size.singleSelect}}">
                      <md-option ng-repeat="option in size.availableOptions" name="size"  value="{{option.id}}">{{option.name}}</option>
                    </md-select>
                </md-input-container>
                    <md-button class="md-raised md-accent" value="Register" ng-click="createList()" width="100px">Registruj se</md-button>
            </fieldlist>
        </section> 
        <section>
            <md-card flex="33" class="md-whiteframe-2dp">     
    <!--
                <iframe
                  width="600"
                  height="450"
                  frameborder="0" style="border:0"
                  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA7q58HCwcxOBwtqybMIm8-s9Zzu5CSYM4
                    &q=pancevo" allowfullscreen>
                </iframe>
    -->       
            <md-list ng-controller="mainController" ng-cloak>
              <md-subheader class="md-no-sticky">Taskovi</md-subheader>
              <md-list-item ng-repeat="todo in todos">
                <p> {{ todo.text }} </p>
                <md-checkbox class="md-secondary" ng-click="deleteTodo(todo._id)"></md-checkbox>
              </md-list-item>
            <!-- FORM TO CREATE TODOS -->
              <fieldlist ng-controller="mainController" layout="column" id="todo-form"> 
                <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                <md-input flex="100" type="text" placeholder="ENTER TO DO" ng-model="formData.text"></md-input>
                <md-datepicker  flex="100" ng-model="myDate" md-placeholder="Enter date" class=" col-md-3"></md-datepicker>
                <!-- createToDo() WILL CREATE NEW TODOS -->
                <md-button flex="100" type="submit" class="md-raised md-primary" ng-click="createTodo()">Add</button>
              </fieldlist>  
            </md-card>
        </section>
    </div>
<!--FIEL UPLOAD-->
<!--
        <section >
             <div ng-controller='listController'>
                  <form  id        =  "uploadForm"
                         enctype   =  "multipart/form-data"
                         action    =  "/api/photo"
                         method    =  "post"
                    >
                    <input type="file" name="userPhoto" />
                    <input type="submit" value="Upload Image" name="submit">
                    </form>
            </div>
        </section>
-->
<!--FIEL UPLOAD-->
	
  </md-content>
       