<md-content layout-padding layout="column" 
            layout-sm="column" 
            layout-wrap style="width:100%" 
            ng-controler="list1controller" 
            md-colors="::{backgroundColor: '{{theme}}-primary-20'}" 
            layout-align="none"
            class="md-tall">
    
<md-toolbar md-scroll-shrink>
            <div class="md-toolbar-tools" ng-controller="UserInfoCtrl" >
                Welcome {{auth.profile.nickname}} 
                <p>{{auth.profile.user_id}} </p>
                <img src="{{auth.profile.picture}}"></img>
                <a href="#/">Switch to browser</a>
            </div>
</md-toolbar>
<!--\\\\\\\\\starting form layout-->
<md-tabs md-dynamic-height md-border-bottom flex="100">
<!--Pocinje prvi tab-->
<md-tab label="Moj Nalog">
    
        <md-content class="md-padding">  
                   <fieldlist ng-model="formData" ng-disabled="data.cb2" class="md-primary hue-2" layout="row">
                       <!--prva grupa podataka-->
                    <md-content layout="column" flex="60">
                            <md-switch ng-model="data.cb2" aria-label="Switch 2" ng-true-value="false" ng-false-value="true" class="md-primary" md-padding>
                                Izmeni podatke
                            </md-switch>
                            <div layout='row' flex="100" >
                                <md-input-container flex="45" ngmodel="state">
                                     <label>Ime:{{data.cb2}}</label>
                                    </br><input  type="text" name="name"  ng-model="formData.name"></input>{{name}}<br>
                                </md-input-container>

                                 <md-input-container flex="45">
                                     <label> Prezime:</label> 		   
                                     </br><input  type="text" name="lastname"  ng-readonly="data.cb2"  ng-model="formData.lastname">{{ lastname }}<br>
                                </md-input-container>
                            </div>
                            <div layout='row' flex="100">
                                 <md-input-container flex="45">
                                   <label>Naziv preduzeca:</label> 
                                     </br><input  type="text" name="company"   ng-readonly="data.cb2" ng-model="formData.company">{{company}}<br>
                                 </md-input-container>

                                 <md-input-container md-svg-src="img/icons/ic_email_24px.svg" class="email" flex="45">
                                     <label>email:</label> 		   
                                     </br><input  type="text" name="address" ng-readonly="data.cb2"  ng-model="formData.address">{{address}}<br>
                                 </md-input-container>
                            </div>
                            <div layout='row' flex="100">
                                <md-input-container ng-disabled="data.cb2" flex='45'>
                                    <label for="category">Vrsta delatnosti: </label></br>
                                    <md-select name="category" ng-model="category.singleSelect" value="{{category.singleSelect}}">
                                      <md-option ng-repeat="option in category.availableOptions" value="{{option.id}}">{{option.name}}</option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container flex='45'>
                                    <label for="size" >Velicina prikaza: </label></br>
                                    <md-select name="size" ng-model="size.singleSelect" value="{{size.singleSelect}}">
                                      <md-option ng-repeat="option in size.availableOptions" name="size"  value="{{option.id}}">{{option.name}}</option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <md-button class="md-raised md-accent" value="Register" ng-click="createList()" width="100px">Snimi izmene</md-button>
                        </md-content>
                     <!--druga grupa podataka-->
                    <md-content layout="column" flex="40" class="md-accent">
                            <div layout='row' flex="100">
                                <md-input-container flex="45" ngmodel="state">
                                     <label>Adresa:{{data.cb2}}</label>
                                    </br><input  type="text" name="name"  ng-model="formData.name"></input>{{name}}<br>
                                </md-input-container>

                                 <md-input-container flex="45">
                                     <label> Grad:</label> 		   
                                     </br><input  type="text" name="lastname"  ng-readonly="data.cb2"  ng-model="formData.lastname">{{ lastname }}<br>
                                </md-input-container>
                            </div>
                        </md-content>
                </fieldlist>
    </md-content>
</md-tab>
<!--Pocinje drugi tab-->
<md-tab label="Moji Dogadjaji">
  <md-content class="md-padding">
    <div class="md-whiteframe-2dp md-background-purple"  flex="90" layout="column">  
    <div md-card>   
        <md-content ng-controller="mainController">
              <md-toolbar class="md-no-sticky md-accent">Dogadjaji
                   <fieldlist  id="popupContainer" layout="column" id="todo-form"> 
                        <!-- createToDo() WILL CREATE NEW TODOS -->
                        <md-button flex="100" type="submit" class=" md-primary" ng-click="showCreate($event)">
                           <md-icon  md-svg-icon="content-save" aria-label="save">Dodaj dogadjaj</md-icon>
                        </md-button>
                    </fieldlist>
                  <p>{{status}}</p>
                </md-toolbar>
            
              <md-content >
                 <md-card md-accent   flex="33" ng-repeat="todo in todos">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{todo.text }}</span>
                            <span class="md-subhead">{{todo.place }}</span>
                            <span class="md-subhead">{{todo.desc }}</span>
                            <span class="md-subhead">{{todo.date }}</span>
                        </md-card-title-text>
                            <md-card-title-media>
                                <div class="md-media-lg card-media"></div>
                            </md-card-title-media>
                        </md-card-title>
                        <md-card-actions layout="row" layout-align="end center" flex="40">
                            <md-icon  md-svg-icon="delete" aria-label="delete"  ng-click="showConfirm(todo._id)" ></md-icon>
                        </md-card-actions>
                    </md-card>
              </md-content>
        </md-content>
        </div>
            <!-- FORM TO CREATE TODOS -->
      
        <div md-card id="calendar_basic" style="width: 1000px; height: 350px;"></div>
    </md-content>
</md-tab>
</md-tabs>


<!--
    <script type="text/javascript">
      console.log('usao u gscript');
      google.charts.load("current", {packages:["calendar"]});
      google.charts.setOnLoadCallback(drawChart);

   function drawChart() {
       console.log('drawchart');
       var dataTable = new google.visualization.DataTable();
       dataTable.addColumn({ type: 'date', id: 'Date' });
       dataTable.addColumn({ type: 'number', id: 'Won/Loss' });
       dataTable.addRows([
          [ new Date(2012, 3, 13), 37032 ],
          [ new Date(2012, 3, 14), 38024 ],
          [ new Date(2012, 3, 15), 38024 ],
          [ new Date(2012, 3, 16), 38108 ],
          [ new Date(2012, 3, 17), 38229 ],
          // Many rows omitted for brevity.
          [ new Date(2013, 9, 4), 38177 ],
          [ new Date(2013, 9, 5), 38705 ],
          [ new Date(2013, 9, 12), 38210 ],
          [ new Date(2013, 9, 13), 38029 ],
          [ new Date(2013, 9, 19), 38823 ],
          [ new Date(2013, 9, 23), 38345 ],
          [ new Date(2013, 9, 24), 38436 ],
          [ new Date(2013, 9, 30), 38447 ]
        ]);

       var chart = new google.visualization.Calendar(document.getElementById('calendar_basic'));

       var options = {
         title: "Kalendar rezervacija",
         height: 350,
       };

       chart.draw(dataTable, options);
   }
    </script>
-->
<!--FIEL UPLOAD-->
<!--
        <section >
             <div ng-controller='listController'>
                  <form  id        =  "uploadForm"
                         enctype   =  "multipart/form-data"
                         action    =  "/api/photo"
                         method    =  "post"
                    >
                    <input type="file" name="userPhoto" />
                    <input type="submit" value="Upload Image" name="submit">
                    </form>
            </div>
        </section>
-->
<!--FIEL UPLOAD-->
</md-content>
       