<md-content md-theme="docs-dark" layout-padding layout="row" layout-sm="column">
    <h1>My Day Company page</h1>
	<p>Register your company</p>
	   <form ng-model="formData">
        <md-input-container style="width:70%">
	       <label>Ime:</label>
            </br><input  type="text" name="name"     ng-model="formData.name" ></input>{{name}}<br>
        </md-input-container>
     
         <md-input-container style="width:70%">
             <label> Prezime:</label> 		   
             </br><input  type="text" name="lastname" ng-model="formData.lastname">{{ lastname }}<br>
        </md-input-container>

         <md-input-container style="width:70%">
	       <label>Naziv preduzeca:</label> 
             </br><input  type="text" name="company"  ng-model="formData.company">{{company}}<br>
         </md-input-container>

         <md-input-container style="width:70%">
	         <label>Adresa:</label> 		   
             </br><input  type="text" name="address"  ng-model="formData.address">{{address}}<br>
         </md-input-container>
		
        <md-input-container flex>
		    <label for="category">Vrsta delatnosti: </label></br>
		    <md-select name="category" ng-model="category.singleSelect" value="{{category.singleSelect}}">
		      <md-option ng-repeat="option in category.availableOptions" value="{{option.id}}">{{option.name}}</option>
		    </md-select>
        </md-input-container>
        <md-input-container flex>
		    <label for="size" >Velicina prikaza: </label></br>
		    <md-select name="size" ng-model="size.singleSelect" value="{{size.singleSelect}}">
		      <md-option ng-repeat="option in size.availableOptions" name="size"  value="{{option.id}}">{{option.name}}</option>
		    </md-select>
        </md-input-container>
</form>
 <div id="frame">

      <h1>Flow.js</h1>
      <p>It's a JavaScript library providing multiple simultaneous, stable and resumable uploads via the HTML5 File API.</p>

      <p>The library is designed to introduce fault-tolerance into the upload of large files through HTTP. This is done by splitting each files into small chunks; whenever the upload of a chunk fails, uploading is retried until the procedure completes. This allows uploads to automatically resume uploading after a network connection is lost either locally or to the server. Additionally, it allows for users to pause and resume uploads without loosing state.</p>

      <p>Flow.js relies on the HTML5 File API and the ability to chunks files into smaller pieces. Currently, this means that support is limited to Firefox 4+ and Chrome 11+.</p>

      <hr/>

      <h3>Demo</h3>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
      <script src="flow.js"></script>

      <div class="flow-error">
        Your browser, unfortunately, is not supported by Flow.js. The library requires support for <a href="http://www.w3.org/TR/FileAPI/">the HTML5 File API</a> along with <a href="http://www.w3.org/TR/FileAPI/#normalization-of-params">file slicing</a>.
      </div>

      <div class="flow-drop" ondragenter="jQuery(this).addClass('flow-dragover');" ondragend="jQuery(this).removeClass('flow-dragover');" ondrop="jQuery(this).removeClass('flow-dragover');">
        Drop files here to upload or <a class="flow-browse-folder"><u>select folder</u></a> or <a class="flow-browse"><u>select from your computer</u></a> or <a class="flow-browse-image"><u>select images</u></a>
      </div>
      
      <div class="flow-progress">
        <table>
          <tr>
            <td width="100%"><div class="progress-container"><div class="progress-bar"></div></div></td>
            <td class="progress-text" nowrap="nowrap"></td>
            <td class="progress-pause" nowrap="nowrap">
              <a href="#" onclick="r.upload(); return(false);" class="progress-resume-link"><img src="resume.png" title="Resume upload" /></a>
              <a href="#" onclick="r.pause(); return(false);" class="progress-pause-link"><img src="pause.png" title="Pause upload" /></a>
              <a href="#" onclick="r.cancel(); return(false);" class="progress-cancel-link"><img src="cancel.png" title="Cancel upload" /></a>
            </td>
          </tr>
        </table>
      </div>
      
      <ul class="flow-list"></ul>
	<md-button class="md-raised" value="Register" ng-click="createList()"></md-button>
  </md-content>
