<div ng-init="friends = [{name:'John', phone:'555-1276'},
                         {name:'Mary', phone:'800-BIG-MARY'},
                         {name:'Mike', phone:'555-4321'},
                         {name:'Adam', phone:'555-5678'},
                         {name:'Julie', phone:'555-8765'},
                         {name:'Juliette', phone:'555-5678'}]"></div>

<label>Search: <input ng-model="searchText"></label>
<div id="searchTextResults">

  <div ng-repeat="item in lists | filter:searchText">
    <!--<td><img ng-src="{{item.gsx$img.$t}}"  alt="Washed Out"></td>-->
    <md-card class="md-primary">
       <span>Naziv: {{item.gsx$naziv.$t}}</span>
       <span>Telefon:{{item.gsx$telefon.$t}}</span>
       <span>Web: {{item.gsx$web.$t}}</span>
    </md-card>
  </div>
</table>