<div ng-init="friends = [{name:'John', phone:'555-1276'},
                         {name:'Mary', phone:'800-BIG-MARY'},
                         {name:'Mike', phone:'555-4321'},
                         {name:'Adam', phone:'555-5678'},
                         {name:'Julie', phone:'555-8765'},
                         {name:'Juliette', phone:'555-5678'}]"></div>

<label>Search: <input ng-model="searchText"></label>
<table id="searchTextResults">
  <tr><th>Name</th><th>Phone</th></tr>
  <tr ng-repeat="item in lists | filter:searchText track by item.gsx$naziv.$t">
    <td><img ng-src="{{item.gsx$img.$t}}" class="md-card-image" alt="Washed Out"></td>
    <td>{{item.gsx$naziv.$t}}</td>
  </tr>
</table>