<main class="mypage_main" layout="row" layout-align="center center">	
		<div class="header">
			<h1>MyDay</h1>
			<h3 class="slogan">..the best day in your life starts right here! ;)</h3>
		</div>
			<form>
				<div layout="column" flex="60" >
                                    
                                    <md-switch ng-model="data.cb2" aria-label="Switch 2" ng-true-value="false" ng-false-value="true" class="md-primary" md-padding>
                                        Izmeni podatke:
                                    </md-switch>
                    
                                    <div layout='row' flex="100" >
                                        <md-input-container flex="45" ngmodel="state">
                                          <h1 ng-model="formData.c_id" ng-init="formData.c_id=auth.profile.user_id" ng-hide="true"></h1>
                                            <label>Ime:{{data.cb2}}</label>
                                            </br><input  type="text" name="name" ng-readonly="data.cb2" ng-model="formData.name"></input><br>
                                        </md-input-container>

                                        <md-input-container flex="45">
                                            <label> Prezime:</label> 		   
                                            </br><input  type="text" name="lastname" ng-readonly="data.cb2"  ng-model="formData.lastname"><br>
                                        </md-input-container>
                                    </div>
            
                                    <div layout='row' flex="100">
                                        <md-input-container flex="45">
                                          <label>Naziv preduzeca:</label> 
                                            </br><input  type="text" name="company"   ng-readonly="data.cb2" ng-model="formData.company"><br>
                                        </md-input-container>

                                        <md-input-container md-svg-src="img/icons/ic_email_24px.svg" class="email" flex="45">
                                            <label>email:</label> 		   
                                            </br><input  type="text" name="address" ng-readonly="data.cb2"  ng-model="formData.address"><br>
                                        </md-input-container>
                                    </div>
                </div>
			</form>
  <!--<a class="waves-effect waves-light btn s12 m6"><i class="material-icons left">check circle</i>nastavi</a>-->
</main>
	
