
<div ng-controller="mainController" class="container" layout-padding layout="row" layout-sm="row" layout-wrap style="width:80%">
    <section  flex="66" ng-controller="UserInfoCtrl">
        <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch >
        <md-card-title>
          <md-card-title-text>
            <span  class="md-headline">Korisnik:{{auth.profile.nickname}}</span>
            <span ng-controller="UserInfoCtrl" class="md-subhead">ID:{{ auth.profile.id }}</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg card-media"><img src='/public/img/001.jpg'</div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Delete</md-button>
          <md-button>Edit</md-button>
        </md-card-actions>
      </md-card>
    </section>
        <!-- TODO LIST -->
    <section flex="33">
        <div id="todo-list">
            <div>

                <!-- LOOP OVER THE TODOS IN $scope.todos -->
                <div class="checkbox white" ng-repeat="todo in todos">
                    <label>
                        <input type="checkbox" ng-click="deleteTodo(todo._id)"> {{ todo.text }}
                    </label>
                </div>

            </div>
        </div>
        <!-- FORM TO CREATE TODOS -->
        <div layout="column" id="todo-form">
          <md-content> 
                <div>
                    <form>
                        <div class="form-group col-md-6">
                            <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                            <input type="text" class="form-control input-lg text-center" placeholder="ENTER TO DO" ng-model="formData.text">
                        </div>

                        <md-datepicker ng-model="myDate" md-placeholder="Enter date" class=" col-md-3"></md-datepicker>
              
                    <!-- createToDo() WILL CREATE NEW TODOS -->
                    <button type="submit" class="btn btn-primary btn-lg" ng-click="createTodo()">Add</button>
                </form>
            </div>
          </md-content>  
        </div>
</section>
    </div>
