<section class="mypage_wrap">
  <div class="mypage_main">
  <main  class="md-inline-form">

            <div class="header">
                <h1>MyDay</h1>
                <h3 class="slogan">..the best day in your life starts right here! ;)</h3>
            </div>

    <div layout-padding>
      <form ng-model="formUser">
        <div layout-gt-xs="row">
          <md-input-container class="md-block" flex-gt-xs >
            <label>Email</label>
            <input ng-model="formUser.email">
          </md-input-container>
           <md-input-container class="md-block" flex-gt-xs>
            <label>Datum registracije</label>
            <input ng-model="formUser.date">
          </md-input-container>
          <!--<md-input-container class="md-block" flex-gt-xs>
            <label>Datum registracije</label>
            <input ng-model="formUser.ido">
          </md-input-container>-->
         </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label >Ime</label>
            <input ng-model="formUser.name">
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Prezime</label>
            <input ng-model="formUser.lastname">
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
            <md-input-container class="md-block">
            <label>Adresa</label>
            <input ng-model="formUser.address">
            </md-input-container>

          <md-input-container class="md-block md-accent-20" flex-gt-sm>
            <label>Telefon</label>
            <input ng-model="formUser.phone">
          </md-input-container>
        </div>
      </form> 
      <div>
        <md-button class="md-raised md-accent"  value="Register" ng-click="updateUser()" width="100px">Snimi izmene</md-button>
        <md-button class="md-raised md-primary" value="Close"   ng-click="goHome()" width="100px">Zatvori</md-button>
      </div>
    </div>
  </main>
  </div>
<section>
