<main class="mypage_main" layout="column" layout-align="center center"  md-colors="::{color: '{{theme}}-accent-20'}" >	
            <div class="header">
                <h1>MyDay</h1>
                <h3 class="slogan">..the best day in your life starts right here! ;)</h3>
            </div>
			<form layout="column" layout-align="center center"  flex="80" class="md-accent">
                <md-switch ng-model="data.cb2" aria-label="Switch 2" ng-true-value="false" ng-false-value="true" class="md-primary" md-padding>
                    Izmeni podatke:
                </md-switch>
            
                <md-input-container flex="100" ngmodel="state" >
                    <h1 ng-model="formData.c_id" ng-init="formData.c_id=auth.profile.user_id" ng-hide="true"></h1>
                    <label>Ime:{{data.cb2}}</label>
                    </br><input  type="text" name="name" ng-readonly="data.cb2" ng-model="formData.name"></input><br>
                </md-input-container>

                <md-input-container flex="100">
                    <label> Prezime:</label> 		   
                    </br><input  type="text" name="lastname" ng-readonly="data.cb2"  ng-model="formData.lastname"><br>
                </md-input-container>

                <md-input-container flex="100">
                    <label>Mesto:</label> 
                    </br><input  type="text" name="company"   ng-readonly="data.cb2" ng-model="formData.company"><br>
                </md-input-container>

                <md-input-container md-svg-src="img/icons/ic_email_24px.svg" class="email" flex="100">
                    <label>Kontakt:</label> 		   
                    </br><input  type="text" name="address" ng-readonly="data.cb2"  ng-model="formData.address"><br>
                </md-input-container>
			</form>
  <!--<a class="waves-effect waves-light btn s12 m6"><i class="material-icons left">check circle</i>nastavi</a>-->
</main>
	
