
<div ng-controller="mainController" class="container" layout-padding layout="row" layout-sm="row" layout-wrap style="width:80%">

    <div md-card id="calendar_basic" style="width: 1000px; height: 350px;"></div>
    
        <!-- TODO LIST -->
    <section flex="33">
        <div id="todo-list">
            <div>

                <!-- LOOP OVER THE TODOS IN $scope.todos -->
                <div class="checkbox white" ng-repeat="todo in todos">
                    <label>
                        <input type="checkbox" ng-click="deleteTodo(todo._id)"> {{ todo.text }}
                    </label>
                </div>

            </div>
        </div>
        <!-- FORM TO CREATE TODOS -->
        <div layout="column" id="todo-form">
          <md-content> 
                <div>
                    <form>
                        <div class="form-group col-md-6">
                            <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                            <input type="text" class="form-control input-lg text-center" placeholder="ENTER TO DO" ng-model="formData.text">
                        </div>

                        <md-datepicker ng-model="myDate" md-placeholder="Enter date" class=" col-md-3"></md-datepicker>
              
                    <!-- createToDo() WILL CREATE NEW TODOS -->
                    <button type="submit" class="btn btn-primary btn-lg" ng-click="createTodo()">Add</button>
                </form>
            </div>
          </md-content>  
        </div>
</section>
    <section ng-controller="tableController">
    <md-toolbar class="md-table-toolbar md-default">
          <div class="md-toolbar-tools">
            <span>Termini</span>
          </div>
    </md-toolbar>
    
    
    <!-- exact table from live demo -->
    <md-table-container >
      <table md-table md-row-select multiple ng-model="todos" md-progress="promise">
        <thead md-head md-order="query.order" md-on-reorder="">
          <tr md-row>
            <th md-column md-order-by="nameToLower"><span>Dessert (100g serving)</span></th>
            <th md-column md-numeric md-order-by="calories.value"><span>Calories</span></th>
            <th md-column md-numeric>Fat (g)</th>
            <th md-column md-numeric>Carbs (g)</th>
            <th md-column md-numeric>Protein (g)</th>
            <th md-column md-numeric>Sodium (mg)</th>
            <th md-column md-numeric>Calcium (%)</th>
            <th md-column md-numeric>Iron (%)</th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row md-select="todo" md-select-id="name" md-auto-select ng-repeat="todo in todos">
            <td md-cell>{{todo.name}}</td>
            <td md-cell>{{todo.name}}</td>
            <td md-cell>{{todo.name}}</td>
            <td md-cell>{{todo.name}}</td>
            <td md-cell>{{todo.name}}</td>
            <td md-cell>{{todo.name}}</td>
            <td md-cell>{{todo.name}}</td>
            <td md-cell>{{todo.name}}</td>
          </tr>
        </tbody>
      </table>
    </md-table-container>

<md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{desserts.count}}" md-on-paginate="getDesserts" md-page-select></md-table-pagination>
    
    
    </section>
    </div>
