<h2>Prognoza za : {{city}}</h2>

<div ng-repeat="w in weatherResult.list">
    <div class="row">
        <div class="panel panel-default">
            <h3 class="panel-title">{{convertToDate(w.dt)}}</h3>]
            <div>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
            </div>
        </div>
        <div class="panel-body">
            DNEVNA TEMPERATURA:<strong>{{convertToDeg(w.temp.day)}}</strong>
        </div>
    </div>
</div>