<div class="row">
    <div class="col-md-6 col-md-offset-3">
    <h4>Prognoza za grad</h4>
        <div class="form-group">
        <input type="text" ng-model="city" class="form-control"/>
            <a href="#Forecast" class="btn btn-primary">DAJ PROGNOZU</a>
        </div>
    </div>
</div>   