<!DOCTYPE html>
<html ng-app="erpagWeather">
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

        <nav class='navbar navbar-default'>
            <div class="container">
                <div class='navbar-header'><strong>ERPAG</strong> WEATHER</div>
                <span><a class='btn btn-success' href="#Home"><strong>Home</strong></a></span>
                <span><a class='btn btn-success' href="#Forecast"><strong>Forecast</strong></a></span>
            </div>
        </nav>
        </header>
<!--CONTENT-->
        <container>
            <div ng-view class='blue' >START</div>
        </container>    
</html>